<div class="col-lg-offset-1 col-lg-4">
    <h2>Check Client</h2>
    <div>
        <div class="form-group">
            <label for="InputName">First Name</label>
            <input type="text" class="form-control" id="InputName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="InputSurname">Last Name</label>
            <input type="text" class="form-control" id="InputSurname" placeholder="Enter Last Name">
        </div>
        <button class="btn btn-default" id="Check">Check</button>
    </div>
</div>
<div class="col-lg-offset-2 col-lg-4">
    <h2>Register Client</h2>
    <div >
        <div class="form-group">
            <label for="InputFName">First Name</label>
            <input type="text" class="form-control" id="InputFName" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="InputLName">Last Name</label>
            <input type="text" class="form-control" id="InputLName" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="InputDateofBirth">Date of Birth</label>
            <div class='input-group date' >
                <input type='text' class="form-control" id='InputDateofBirth' />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="InputAddress">Address</label>
            <input type="text" class="form-control" id="InputAddress" placeholder="Enter Address">
        </div>
        <div class="form-group">
            <label for="InputPhone">Phone</label>
            <input type="tel" class="form-control" id="InputPhone" placeholder="Enter Phone">
        </div>
        <div class="form-group">
            <label for="InputEmail">Email</label>
            <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email">
        </div>
        <button class="btn btn-default" id="Register">Register</button>
    </div>
</div>
