@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Registration</a></li>
        <li><a href="#profile" data-toggle="tab">Clients</a></li>
        <li><a href="#messages" data-toggle="tab">Orders</a></li>
        <li><a href="#settings" data-toggle="tab">Automobiles</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div id="Check-wrapper" class="container">
                @Html.Partial("_check")
            </div>
            <div id="Registration-wrapper" class="container">
            </div>
        </div>
        <div class="tab-pane fade" id="profile">
            <div id="Clients-wrapper">
                2
            </div>
        </div>
        <div class="tab-pane fade" id="messages">
            <div id="Orders-wrapper">
                3
            </div>
        </div>
        <div class="tab-pane fade" id="settings">
            <div id="Automobiles-wrapper">
                4
            </div>
        </div>
    </div>
</div>
